body {
  background: #121212;
  color: white;
  font-family: Arial;
}

input, textarea {
  background: #1e1e1e;
  color: white;
  border: none;
  padding: 10px;
  width: 80%;
  margin: 10px;
}

button {
  background: orange;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}
